<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/monitores" text=" "></ion-back-button>
    </ion-buttons>
    <ion-title>{{monitor.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Monitorias del recomendadas</h1>
  <div id="Sugerencias">
    <ion-card class="Sugerencia" *ngFor="let sugerencia of horariosSugeridos">
      <ion-card-header>
        <h1>{{sugerencia.nombreAsignatura}}</h1>
      </ion-card-header>
      <ion-card-content>
        <h2>Inicio: {{sugerencia.fechaInicio}}</h2>
        <h2>Fin:{{sugerencia.fechaFin}}</h2>
      </ion-card-content>
    </ion-card>

    <ion-card class="SinSugerencias" *ngIf="horariosSugeridos.length == 0">
      <h1>No existen horarios sugeridos con este monitor</h1>
    </ion-card>
  </div>

<h1>Votar monitor</h1>
<div id="formEnviar">
    <ion-input style="backgroundColor: gray" [(ngModel)]="voto"></ion-input>
    <ion-button (click)="enviarVoto()">Enviar voto</ion-button>
    <div id="aparecer" *ngIf="errorSi">
      <h3>El valor debe estar entre 1 y 5</h3>
    </div>
  </div>

<h1>Todas las monitorias</h1>
  <div id="Asignaturas">
    <ion-card class="Asignatura" *ngFor="let asignatura of asignaturas" [routerLink]="['/monitores/horarios-monitor/', monitor.id, 'monitor-asignatura', asignatura.asignatura.id]">
      <ion-card-header>
        <h1>{{asignatura.asignatura.nombre}}</h1>
      </ion-card-header>
    </ion-card>
  </div>


</ion-content>
