<ion-header>
  <ion-toolbar>
    <ion-buttons class="header_btn"
                 slot="secondary">
      <ion-button
        href="tabs/servicios-academicos">
        <ion-icon slot="icon-only"
                  name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Foros creados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-card id="titulo">
      <ion-card-header>
        <ion-card-title>Titulo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input type="string" [(ngModel)]="titulo"></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card id="descripcion">
      <ion-card-header>
        <ion-card-title>Descripción</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-textarea elastic type="string" [(ngModel)]="descripcion"></ion-textarea>
      </ion-card-content>
    </ion-card>

    <div class="btn-crearForo">
      <ion-button (click)=crearForo() [routerLink]="['/tabs/servicios-academicos']">
        <ion-icon slot="icon-only" name="add" ></ion-icon>
      </ion-button>
    </div>

  </div>
</ion-content>
