<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;400&display=swap');
</style>


<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tips" text=" "></ion-back-button>
    </ion-buttons>
    <ion-title>tip-detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<img src="../../assets/fondo.png" id="bg">
<ion-content padding class="background" [fullscreen]="true">
 <ion-card>
    <ion-card-header>
      <h1>¡Tip!</h1>
    </ion-card-header>
    <ion-card-content>
      <h2>{{tip.descripcion}}</h2>
      <h2>{{tip.puntaje}}</h2>
      <ion-list>
        <ion-item *ngFor = "let tipos of tiposDeAprendizaje">
          {{tipos.descripcion}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

 <div class="botones">
    <div class="botonesRealimentacion">
      <ion-button (click)="votar(-1)" color=#FDFDFD id="unlike">
        <img src="assets/unlike.png" alt="">
      </ion-button>
      <ion-button (click)="votar(1)" color=#FDFDFD id="like">
        <img src="assets/like.png" alt="">
      </ion-button>
    </div>
  </div>

<!----
{{tip.id}}
  {{tip.usuario}}

-->

</ion-content>
