<ion-header>
  <ion-toolbar>
    <ion-buttons class="header_btn"
                 slot="secondary">
      <ion-button
      [routerLink]="['/tips']">
        <ion-icon slot="icon-only"
                  name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalles tip</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="content">
    <ion-card>
      <ion-card-header>
        <h1>¡Tip!</h1>
      </ion-card-header>
      <ion-card-content>
        <h2>{{tip.descripcion}}</h2>
        <h2>Puntaje: {{tip.puntaje}}</h2>
        <h2>Tipos de aprendizaje: </h2>
        <ion-list>
          <div *ngFor = "let tipos of tiposDeAprendizaje">
            <h3>{{tipos.descripcion}}</h3>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <div class="botones">
      <div class="botonesRealimentacion">
        <ion-button (click)="votar(-1)" color=#FDFDFD id="unlike">
          <img src="assets/unlike.png" alt="">
        </ion-button>
        <ion-button (click)="votar(1)" color=#FDFDFD id="like">
          <img src="assets/like.png" alt="">
        </ion-button>
      </div>
    </div>

    <!----
         {{tip.id}}
         {{tip.usuario}}

    -->

  </div>
</ion-content>
