.barraProgreso{
    margin-left: 10%;
    margin-right: 10%;
    height: 5%;
}

.instrucciones h5{
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.instrucciones{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: 10%;
    justify-content: space-between;
}

.instrucciones .instruccion{
    display: inline-flex;
}

.instruccion #cuadroLleno{
    background: #3880ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 20px;
    height: 20px;
    margin-top: 5%;
}

.instruccion #cuadroVacio{
    background: rgba(55,128,255,0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 20px;
    height: 20px;
    margin-top: 5%;
}

.instruccion #texto{
    padding-left: 10px;
}


.Notas{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    //align-items: center;
    //justify-content: center;
    padding-left: 22.5%;
    padding-right: 22.5%;
}

#textoInput{
    align-items: center;
    justify-content: center;
}

ion-button{
    margin-top: 25%;
    margin-bottom: 50%;
}



.ion-list{
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
}


#input{
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 40px;
    height: 50px;
    margin: 2px;
}

#textoInput{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */
    margin-left: 5px;
}

.tarjeta{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.85);
    margin: 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.instrucciones{
    margin-top: 25px;
}

.Notas{
    margin-bottom: 25px;
    //justify-content: center;
}

.boton{
    display: flex;
    justify-content: center;
}



