

<div class="fondo">

  <ion-card class="sugerencia">
    <ion-card-header>
      <ion-avatar>
        <img src="https://i.pinimg.com/736x/50/2c/e6/502ce612623e76f1026986ea0d249b7d.jpg">
    
      </ion-avatar>
      <div id="CirculoCalificacion">
        25
      </div>

      </ion-card-header>
      <ion-card-content>
        <h1>Nombre Nombre</h1>
        <h2>Materia</h2>
        <h2>Materia</h2>
        <h2>Materia</h2>
        <h2>Materia</h2>
        <div id="formEnviar">
          <ion-input type="string"></ion-input>
          <ion-button></ion-button>
        </div>
        


      </ion-card-content>
  </ion-card>

</div>



