<ion-header>
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/servicios-academicos" text=" "></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="buscador">
    <ion-searchbar placeholder="Buscar foros" animated (ionChange)="buscarForos($event)"></ion-searchbar>
  </div>
  <div id="lista">
    <ion-card>
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>