<ion-header>
  <ion-toolbar translucent>
      <ion-buttons class="header_btn"
                 slot="secondary">
      <ion-button
        href="tabs/servicios-academicos">
        <ion-icon slot="icon-only"
                  name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div id="buscador">
      <ion-searchbar placeholder="Buscar monitores" (ionChange)="buscarMonitores($event)"></ion-searchbar>
    </div>


  <div class="tarjetaSugerencias">
    <div class="titulo">
      <h1>Sugerencia de monitores</h1>
    </div>
    <div class="scrollmenu">
      <ion-card class="sugerencia" *ngFor="let monitor of monitoresRecomendados">
        <div class="datosMonitor" [routerLink]="['/monitores/horarios-monitor', monitor.id]">
          <ion-card-header>
            <h1>{{monitor.nombre}}</h1>
          </ion-card-header>
          <ion-card-content>
            <h2>{{monitor.puntajeTotal}}</h2>
          </ion-card-content>
        </div>
      </ion-card>

    </div>
    <div class="SinElementos" *ngIf="monitoresRecomendados.length == 0">
      <h1>No existen horarios sugeridos con este monitor</h1>
    </div>
  
   
  </div>

  <div id="listaMonitores">
    <div class="titulo">
      <h2>Monitores</h2>
    </div>

    <div id="tarjetasMonitores">
        <ion-card *ngFor="let monitor of monitores | filtroMonitores: textoBuscar"  [routerLink]="['/monitores/horarios-monitor', monitor.id]">
          <div class="datosMonitor" >
            <ion-card-header>
              <h1>{{monitor.nombre}}</h1>
            </ion-card-header>
            <ion-card-content>
              <h2><span style="font-size: 30px;">{{monitor.puntajeTotal}}</span> / 5</h2>
            </ion-card-content>
          </div>
        </ion-card>
    </div>
    <div class="SinElementos" *ngIf="monitores.length == 0">
      <div id="texto">
        <h1>No existen monitores</h1>
      </div>
    </div>
  </div>
  
  </div>
</ion-content>