<ion-header>
  <ion-toolbar>
    <ion-buttons class="header_btn"
                 slot="secondary">
      <ion-button href="tabs/contribuciones">
        <ion-icon slot="icon-only"
                  name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tips creados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background" [fullscreen]="true">
  <div class="content">
    <div class="cuadroTextoDescripcion">
      <div id="texto">
          <h2>En esta sección podra ver y eliminar los tips creados por el usuario</h2>
          <h2>Deslizar para actualizar</h2>
      </div>
    </div>
    <ion-refresher slot="fixed">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div id="materias">

      <ion-item-sliding *ngFor = "let tip of tips; let indice=index">
        <ion-item [routerLink]="['/tips', tip.id]">
          <ion-card-header>

            <div class="separacion">
              <ion-card-header>
                {{tip.descripcion}}
              </ion-card-header>
              <ion-card-content>
                <h2># {{tip.id}}</h2>
                <h2>Puntaje: {{tip.puntaje}}</h2>
              </ion-card-content>
            </div>
          </ion-card-header>
        </ion-item>

        <ion-item-options id="end" side="end">
          <ion-item-option color="danger" (click)="presentAlert(indice)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </div>

    <div class="cuadroTextoDescripcion">
    <div class="SinElementos" *ngIf="tips.length == 0">
      <div id="texto">
        <h1>No existen tips creados</h1>
      </div>
    </div>
  </div>

  </div>
</ion-content>
