<ion-header>
  <ion-toolbar>
    <ion-buttons class="header_btn"
                 slot="secondary">
      <ion-button href="tabs/servicios-academicos">
        <ion-icon slot="icon-only"
                  name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tips de estudio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background" [fullscreen]="true">
  <div class="content">
    <div id="titulo">
      <h1>Tips creados</h1>
      <h2>Deslizar para actualizar</h2>
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div id="materias">

      <ion-item-sliding *ngFor = "let tip of tips; let indice=index">
        <ion-item [routerLink]="['/tips', tip.id]">
          <ion-card-header>
            <div id="TyP">
              <h1>{{tip.descripcion}}</h1>


              <h2># {{tip.id}}</h2>
              <h2> {{tip.puntaje}}</h2>
            </div>
          </ion-card-header>
        </ion-item>

        <ion-item-options id="end" side="end">
          <ion-item-option color="danger" (click)="presentAlert(indice)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </div>
  </div>
</ion-content>
