<ion-header>
  <ion-toolbar>
    <ion-buttons class="header_btn"
                 slot="secondary">
      <ion-button href="tabs/servicios-academicos">
        <ion-icon slot="icon-only"
                  name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div id="estilosDeAprendizaje">
      <ion-item *ngFor="let estilo of estilosAprendizaje">
        {{estilo.descripcion}}
      </ion-item>
    </div>

  </div>
  <ion-button [routerLink]="['/tabs/servicios-academicos']">Servicios academicos</ion-button>
</ion-content>
