ion-back-button{
    color: #C7C7C7;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --border-style: none;
}

ion-content h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;

    color: #000000;
}

ion-card-header h1{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    margin: 10px;
}

.recargar{
    display: block;
    padding: 0;
}

.recargar img{
    display: block;
    margin: 0 0 0 auto;
    padding-right: 2%;
    padding-top: 2%;
}

ion-card-header{
    padding: 0;
}

.todoslostips{
    align-content: center;
    display: flex;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
}

.todoslostips ion-button{
    background: #3EC6FF;
    border: 1px solid rgba(199, 199, 199, 0.25);
    box-sizing: border-box;
    /* Sombra */

    box-shadow: 0px 4px 5px 1px #C7C7C7;
    border-radius: 10px;
}

.botones h2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    margin: 10px;
}

.crearTip{
    align-content: center;
    display: flex;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
}

.crearTip ion-button{
    background: #3EC6FF;
    border: 1px solid rgba(199, 199, 199, 0.25);
    box-sizing: border-box;
    /* Sombra */

    box-shadow: 0px 4px 5px 1px #C7C7C7;
    border-radius: 10px;
}

.botonesRealimentacion{
    align-content: center;
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}

.botonesRealimentacion ion-button{
    background: #FDFDFD;

    width: 40%;
    height: 64px;
    border: 1px solid rgba(199, 199, 199, 0.25);
    //box-sizing: border-box;
    /* Sombra */
    box-shadow: 0px 4px 5px 1px #C7C7C7;
    border-radius: 15px;
    color: #FDFDFD;
}

.botonesRealimentacion #unlike:active{
    opacity: 0.5;
    text-decoration: none;
}

.botonesRealimentacion #like:active{
    opacity: 0.5;
    text-decoration: none;
}


ion-card{
    height: 40%;
    margin: 5%;
    background: #FFFFFF;
    border: 1px solid rgba(199, 199, 199, 0.25);
    //box-sizing: border-box;
    /* Sombra */
    box-shadow: 0px 4px 5px 1px #C7C7C7;
    border-radius: 15px;
}