<ion-header>
  <ion-toolbar>
    <ion-title>RecomendacionTip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <h1>Tip</h1>
    </ion-card-header>
    <ion-card-content>
      <h2>bbbb</h2>
    </ion-card-content>
  </ion-card>

  <div class="botones">
    <div class="botonesRealimentacion">
      <ion-button color=#FDFDFD id="unlike">
        <img src="assets/unlike.png" alt="">
      </ion-button>
      <ion-button color=#FDFDFD id="like">
        <img src="assets/like.png" alt="">
      </ion-button>
    </div>
    <div class="todoslostips">
      <ion-button>Ver todos los tips</ion-button>
    </div>
    <div class="crearTip">
      <ion-button>Crear tip</ion-button>
    </div>
  </div>
</ion-content>
