<ion-header>
  <ion-toolbar>
    <ion-buttons class="header_btn"
                 slot="secondary">
      <ion-button href="tabs/servicios-academicos">
        <ion-icon slot="icon-only"
                  name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Servicios Academicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="nonTransparent">
      <h2>En esta sección encontrara tips de estudio que te podran resultar utiles.</h2>
      <h2>Esta sugerencia se realiza con respecto a el estilo de aprendizaje ingresado por el usuario, como también de los tips que le haya gustado anteriormente.</h2>
    </div>
    <ion-card>
      <ion-card-header>
        <h1>¡Tip!</h1>
      </ion-card-header>
      <ion-card-content>
        <h2>{{tipRecomendado.descripcion}}</h2>
        <h2>{{tipRecomendado.id}}</h2>
      </ion-card-content>
    </ion-card>

    <div class="botones">
      <div class="botonesRealimentacion">
        <ion-button (click)="votar(-1)" color=#FDFDFD id="unlike">
          <img src="assets/unlike.png" alt="">
        </ion-button>
        <ion-button (click)="votar(1)" color=#FDFDFD id="like">
          <img src="assets/like.png" alt="">
        </ion-button>
      </div>
      <div class="todoslostips">
        <ion-button [routerLink] = "['/tips']">
          <h2>Ver todos los tips</h2>
        </ion-button>
      </div>
      <div class="crearTip" [routerLink]="['/tip-crear']">
        <ion-button>
          <h2>Crear tip</h2>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
