<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>servicios-academicos</ion-title>
  </ion-toolbar>
</ion-header>

<img src="../../assets/fondo.png" id="bg">
<ion-content padding class="background" [fullscreen]="true">
    <ion-card [routerLink]="['/calculadora/materias']">
      <ion-card-header>
        <h1>Calculadora</h1>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    <ion-card [routerLink]="['/tips']" >
      <ion-card-header>
        <h1>Tips</h1>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>

</ion-content>

