#Primer-boton{
    background-color:red;
    margin: 10%;
}

#Segundo-boton{
    background-color: blue;
    margin: 10%;

}

#Tercer-boton{
    background-color: green;
    margin: 10%;

}

#Opciones{
    --background-color: yellow;
    --background: yellow;
}

ion-popover.popover-content{
    --width: 1000px;
}

ion-popover.popover_setting{
    --width: 1000px;
}


