ion-card-header h1{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    margin: 10px;
}


ion-card{
    height: 40%;
    margin: 5%;
    margin-top: 25%;
    background: #FFFFFF;
    border: 1px solid rgba(199, 199, 199, 0.25);
    //box-sizing: border-box;
    /* Sombra */
    box-shadow: 0px 4px 5px 1px #C7C7C7;
    border-radius: 15px;
}

ion-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botones{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        padding: 0;
        margin: 0;
        font-size: 28px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    h2{
        padding: 0;
        margin: 0;
        font-size: 12px;
    }
}