<ion-header>
  <ion-toolbar>
    <ion-title>crowd-restaurante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label>Hola! Queremos saber si seguiste alguna de nuestras recomendaciones</ion-label>
</ion-item>
<ion-list>
  <ion-item>
    <ion-label>Restaurante</ion-label>
    <ion-input>Puntaje al restaurante</ion-input>
    <ion-label>¿cuanto se demoro la comida?</ion-label>
    <ion-input type="text">tiempo</ion-input>
    <ion-label>¿estaba muy lleno?</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Horario en el que fuiste</ion-label>
    <ion-datetime displayFormat="h:mm a"></ion-datetime>
  </ion-item>
</ion-list>
</ion-content>
