ion-back-button{
    color: #C7C7C7;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --border-style: none;
}

.Principal{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    
    background: rgba(75, 212, 242, 0.5);
    border: 1px solid rgba(199, 199, 199, 0.25);
    box-sizing: border-box;
    /* Sombra */
    
    box-shadow: 0px 4px 5px 1px #C7C7C7;
    border-radius: 15px;
}

.Respuestas{
    height: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0%;
    width: 90%;
    background: #FFFFFF;
    border: 1px solid rgba(199, 199, 199, 0.25);
    //box-sizing: border-box;
    /* Sombra */
    box-shadow: 0px 4px 5px 1px #C7C7C7;
    border-radius: 15px;
}

.informacion{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
}

.votos{
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.foro h1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
    color: #2C2C2C;
}

.foro h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    text-align: justify;
    
    color: #000000;
}

.Principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ion-item-divider{
    margin-top: 5%;
    margin-bottom: 5%;
}

.usuario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.usuario h3{
    font-size: 12px;
    margin: 0;
    margin-left: 5%;
}

