<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Grupos Estudiantiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Buscar Grupo Estudiantil..."  animated (ionChange)="buscarGrupoEstudiantil ($event)"></ion-searchbar>
  
    <ion-button  class="button button-assertive button-clear" >
      Filtros <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-button>
   <ion-item>
        <ion-label>Horario</ion-label>
        <ion-datetime displayFormat="h:mm a"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Actividades de interes</ion-label>
        <ion-input type="text"  ></ion-input>
      </ion-item>
      
  <ion-list>
    <ion-card *ngFor="let grupo of grupos | filtroGrupos:textoBuscar">
      <ion-card-header>
        <ion-card-title>{{grupo.nombre}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{grupo.tematicas}}
      </ion-card-content>
      <ion-button>
          <ion-icon  size="small" slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

