<ion-header>
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/servicios-academicos" text=" "></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding class="background" [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Descripción</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input type="string" [(ngModel)]="titulo"></ion-input>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tipos de Aprendizaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input type="string" [(ngModel)]="descripcion"></ion-input>
    </ion-card-content>
  </ion-card>

  <div class="btn-crearForo">
    <ion-card class="boton-mas" (click)=crearTip() [routerLink]="['/tabs/servicios-academicos']">
      <h1>+</h1>
    </ion-card>
  </div>
</ion-content>