<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>formularioPersoRestaurantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Presupuesto</ion-label>
    <ion-input type="text"  ></ion-input>
    <ion-label>Fin</ion-label>
    <ion-input type="text"  ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Comida favorita</ion-label>
    <ion-input type="text"  ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Ambientación</ion-label>
    <ion-input type="text"  ></ion-input>
  </ion-item>
</ion-content>
