<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click) = "closeModal()">
        Cerrar
      </ion-button>
    </ion-buttons>
    <ion-title>formularioPersoRestaurantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Presupuesto</ion-label>
    <ion-input placeholder="Valor" type="number" value="15"></ion-input>
    <ion-input placeholder="Objetivo" type="text"  ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Tiempo de espera promedio</ion-label>
    <ion-input type="number" value="15"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Regimen alimenticio</ion-label>
    <ion-list>
      <!--ion-item *ngFor="let entry of form">
        <ion-label>{{entry.val}}</ion-label-->
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
      <!--/ion-item-->
    </ion-list>
    <ion-label>Nivel de exigencia</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="a">Alto</ion-select-option>
      <ion-select-option value="m">Medio</ion-select-option>
      <ion-select-option value="b">Bajo</ion-select-option>
      <ion-select-option value="f">Flexible</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Restaurantes de franquicia</ion-label>
    <ion-list>
      <!--ion-item *ngFor="let entry of form">
        <ion-label>{{entry.val}}</ion-label-->
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
      <!--/ion-item-->
    </ion-list>
  </ion-item>
  <ion-item>
    <ion-label>Comida favorita</ion-label>
    <ion-list>
      <!--ion-item *ngFor="let entry of form">
        <ion-label>{{entry.val}}</ion-label-->
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
      <!--/ion-item-->
    </ion-list>
  </ion-item>
  <ion-item>
    <ion-label>Ambientación</ion-label>
    <!--ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label-->
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
     <!--/ion-item-->
  </ion-item>
</ion-content>
