<ion-header>
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/servicios-academicos" text=" "></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background" [fullscreen]="true">
  <h2>Los tipos de aprendaje del usuario son:</h2>

  <div id="tiposDelUsuario">
    
      <ion-item-sliding *ngFor = "let tipos of tiposDeAprendizajeUsuario; let indice = index">
        <ion-item>
          {{tipos.descripcion}}
        </ion-item>

        <ion-item-options id="end" side="end">
          <ion-item-option color="danger" (click)="presentAlert(indice)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      
     
  </div>

  <ion-item>
    <ion-label>Tipo aprendizaje</ion-label>
    <ion-select [(ngModel)]="tiposDeAprendizajeSeleccionados" multiple="true" cancelText="cancel" okText="ok">
      <ion-select-option *ngFor="let aprendizaje of aprendizajesExistentes; let indice = index" [value]="aprendizaje.id" selected = "false">{{aprendizaje.descripcion}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="btn-crearForo">
    <ion-card class="boton-mas" (click)="agregarTipo()">
      <h1>+</h1>
    </ion-card>
  </div>
</ion-content>
