<ion-header>
  <ion-toolbar>
    <ion-buttons class="header_btn"
                 slot="secondary">
      <ion-button
        href="tabs/servicios-academicos">
        <ion-icon slot="icon-only"
                  name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Editar tipos aprendizaje </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
  <div class="cuadroTextoDescripcion">
    <div id="texto">
        <h2>En esta sección podra ver y eliminar los tips creados por el usuario</h2>
        <h2>Deslizar para actualizar</h2>
    </div>
  </div>

  <div class="demas">
    <div id="tiposDelUsuario">

      <ion-item-sliding *ngFor = "let tipos of tiposDeAprendizajeUsuario; let indice = index">
        <ion-item>
          {{tipos.descripcion}}
        </ion-item>

        <ion-item-options id="end" side="end">
          <ion-item-option color="danger" (click)="presentAlert(indice)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </div>
  </div>
  <div class="demas">
    <ion-item class="ion_item_margin">
      <ion-label>Agregar tipo aprendizaje</ion-label>
      <ion-select
        [(ngModel)]="tiposDeAprendizajeSeleccionados"
        multiple="true"
        cancelText="cancel"
        okText="ok">
        <ion-select-option
          *ngFor="let aprendizaje of aprendizajesExistentes; let indice = index"
          [value]="aprendizaje.id"
          selected = "false">
          {{aprendizaje.descripcion}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

    <div class="btn-crearForo">
      <ion-button (click)="agregarTipo()" href="/tabs/servicios-academicos">
        <ion-icon slot="icon-only" name="add" ></ion-icon>
      </ion-button>
    </div>



  </div>
</ion-content>
