<ion-header>
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/servicios-academicos" text=" "></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar></ion-searchbar>
  <div id="lista" *ngFor="let foro of foros; let indice=index">
    <ion-card>
      <ion-card-header>
        {{foro.titulo}}
      </ion-card-header>
      <ion-card-content>
        {{foro.descripcion}}
        ->{{usuario}}
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
<ion-button (click)="mostrarPop( $event )">
  +
</ion-button>