<ion-header>
  <ion-toolbar>
    <ion-title>formularioPersoGrupos</ion-title>
    <ion-button (click)="closeModal()" size="small" slot="end">Cerrar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Hola! Con el fin de brindarte un mejor servicio te proponemos llenar este formulario con tus gustos
      y preferencias. En caso de que no lo desees puedes darle click a "Cerrar".
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Actividades</ion-label>
    <ion-list>
      <ion-input></ion-input>
    </ion-list>
  </ion-item>
  <ion-item>
    <ion-label>Hobbies</ion-label>
    <ion-input placeholder="Actividad"></ion-input>
    <ion-input placeholder="Motivación"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Tématicas</ion-label>
    <!--ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label-->
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    <!--/ion-item-->
  </ion-item>
  <ion-item>
    <ion-label>Caracteristicas</ion-label>
    <!--ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label-->
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    <!--/ion-item-->
  </ion-item>
  <ion-item>
    <ion-label>Creencias religiosas</ion-label>
    <!--ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label-->
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    <!--/ion-item-->
  </ion-item>
  <ion-item>
    <ion-label>Creencias no toleradas</ion-label>
    <!--ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label-->
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    <!--/ion-item-->
  </ion-item>
  <ion-item>
    <ion-label>Tendencia politica</ion-label>
    <!--ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label-->
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    <!--/ion-item-->
  </ion-item>
  <ion-button>Guardar</ion-button>
</ion-content>
