<ion-header>
  <ion-toolbar>
    <ion-title>formularioPersoGrupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Horario</ion-label>
    <ion-datetime displayFormat="h:mm a"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Actividades de interes</ion-label>
    <ion-input type="text"  ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Hobbies</ion-label>
    <ion-input type="text"  ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Áreas de conocimiento de interes</ion-label>
    <ion-input type="text"  ></ion-input>
  </ion-item>
</ion-content>
