<ion-header>
  <ion-toolbar>
    <ion-title>formularioPersoGrupos</ion-title>
    <ion-button (click)="closeModal()" size="small" slot="end">Cerrar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Hola! Con el fin de brindarte un mejor servicio te proponemos llenar este formulario con tus gustos
      y preferencias. En caso de que no lo desees puedes darle click a "Cerrar".
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Tématicas</ion-label>
    <ion-item *ngFor="let tematica of tematicas">
      <ion-label>{{tematica.descripcion}}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>   
    </ion-item>
  </ion-item>
  <ion-item>
          <ion-label>Caracteristicas</ion-label>
            <ion-item *ngFor="let caracteristica of caracteristicas">
              <ion-label>{{caracteristica.descripcion}}</ion-label>
              <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
            </ion-item>
        </ion-item>
  <ion-item>
    <ion-label>¿Crees en Dios?</ion-label>
    <ion-item>
      <ion-label>Si</ion-label>
      <ion-radio slot="start" value="si"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>No</ion-label>
      <ion-radio slot="start" value="no"></ion-radio>
    </ion-item>
  </ion-item>
  
  <ion-label>Actividades de interes</ion-label>
  <ion-item *ngFor="let act of actividades; let i = index">
    <ion-input type="string" [(ngModel)]="act.nombre"></ion-input>
  </ion-item>
  <ion-button (click)="masActividad()"> + actividades </ion-button>



  <ion-label>Hobbies</ion-label>
  <ion-item *ngFor="let hobbie of hobbies">
    <ion-input placeholder="Hobbies" type="string" [(ngModel)]="hobbie.nombre"></ion-input>
  </ion-item>
  <ion-button (click)="masHobbies()"> + hobbies </ion-button>

  <ion-button>Guardar</ion-button>
</ion-content>
