ion-back-button{
    color: #C7C7C7;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --border-style: none;
}

.agregarMateria ion-card {
    background: blue;
    color:#FFFFFF;
    justify-content: center;
}

.agregarMateria ion-card h1{
    font-size: 75px;
    align-items: center;
}