<ion-header>
  <ion-toolbar>
    <ion-buttons class="header_btn"
                 slot="secondary">
      <ion-button
        href="tabs/servicios-academicos">
        <ion-icon slot="icon-only"
                  name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="background" [fullscreen]="true">
  <div class="content">
    <div class="cuadroTextoDescripcion">
      <div class="texto">
          <h2>Para editar una materia deslizarla hacia la derecha. Para eliminarla, deslizarla hacia la izquierda</h2>
          <h2>Deslizar hacia abajo para actualizar</h2>
      </div>
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div id="materias">
      <ion-item-sliding *ngFor = "let materia of materias; let indice=index">
        <ion-item [routerLink]="['/calculadora/resultado', indice]">
          <div class="separacion">
            <ion-card-header>
              {{materia.nombreMateria}}
            </ion-card-header>
            <ion-card-content>
              <h2>Nota actual: {{materia.notaActual}}</h2>
              <h2>% actual: {{materia.porcentajeActual}}%</h2>
            </ion-card-content>
          </div>
        </ion-item>

        <ion-item-options id="start" side="start">
          <ion-item-option [routerLink]="['/calculadora/ingresar-notas', indice]">
            <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item-options id="end" side="end">
          <ion-item-option color="danger" (click)="presentAlert(indice)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </div>

    <div class="agregarMateria">
      <ion-button
      [routerLink]="['/calculadora']"
       >
        <ion-icon slot="icon-only"
                  name="add"
        ></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
<!---
     <ion-card [routerLink]="['/tips', tip.id]">
-->

<!--- *ngFor = "let materia of materias; let indice=index" -->
