<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/reco-grupos']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Grupo estudiantil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="https://www.google.com/search?q=grupo+estudiantil+javeriana&safe=off&sxsrf=ALeKk01uwE2prFH5Bss4VqHyMSL3NqqQXg:1613488513592&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjRqc6N2e7uAhXSslkKHeqwDKIQ_AUoAXoECAQQAw&biw=1280&bih=720#imgrc=bzJm6XKKn5rlyM"> </ion-img>
    <ion-card-content> 
      {grupoSelect.nombre}}
      {{grupoSelect.descripcion}}
      {{grupoSelect.tematicas}}
    </ion-card-content>
  </ion-card>
  
  <ion-row>
    <ion-col width-50 style="text-align: right">
      <ion-button>
        <ion-icon name="thumbs-up-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col width-50 style="text-align: left">
      <ion-button>
        <ion-icon name="thumbs-down-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
