<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button
        href="/auth-home">
        <ion-icon slot="icon-only"
                  name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Contribuciones</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card [routerLink]="['/tips/usuario', indice]" >
      <ion-card-header>
        <h1>Tips</h1>
      </ion-card-header>
      <ion-card-content>
        <h2>Podra acceder a tips recomendados, como tambien a todos los tips disponibles en el sistema</h2>
      </ion-card-content>
    </ion-card>

    <ion-card [routerLink]="['/foros/usuario', indice]">
      <ion-card-header>
        <h1>Foros</h1>
      </ion-card-header>
      <ion-card-content>
        <h2>Podra acceder a tips recomendados, como tambien a todos los tips disponibles en el sistema</h2>
      </ion-card-content>
    </ion-card>

    <ion-card [routerLink]="['/respuestas-foro/usuario', indice]">
      <ion-card-header>
        <h1>Respuestas foros</h1>
      </ion-card-header>
      <ion-card-content>
        <h2>Podra acceder a tips recomendados, como tambien a todos los tips disponibles en el sistema</h2>
      </ion-card-content>
    </ion-card>

    <ion-card [routerLink]="['/agregar-tipo-aprendizaje']">
      <ion-card-header>
        <h1>Agregar Tipos Aprendizaje</h1>
      </ion-card-header>
    </ion-card>



</ion-content>
