<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button
        href="/auth-home">
        <ion-icon slot="icon-only"
                  name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Contribuciones</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-card (click)="quitarChat()" [routerLink]="['/contribuciones/tips', indice]" >
      <ion-card-header>
        <ion-card-title>Tips</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Podra acceder a los tips creados
      </ion-card-content>
    </ion-card>

    <ion-card (click)="quitarChat()" [routerLink]="['/contribuciones/foros', indice]">
      <ion-card-header>
        <ion-card-title>Foros</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Podra acceder a los foros creados
      </ion-card-content>
    </ion-card>

    <ion-card (click)="quitarChat()" [routerLink]="['/contribuciones/respuestas-foro', indice]">
      <ion-card-header>
        <ion-card-title>Respuestas foros</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Podra acceder a las respuestas creadas
      </ion-card-content>
    </ion-card>

    <ion-card (click)="quitarChat()" [routerLink]="['/agregar-tipo-aprendizaje']">
      <ion-card-header>
        <ion-card-title>Editar tipos aprendizaje</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
