ion-card {
    border-radius: 15%;
    --ion-background-color:#ffffff;

}

ion-content{
    --ion-background-color:#F5F5F5;
}

ion-fab-button {
    overflow: visible;
    position: relative;
}

ion-fab-list {
    ion-label {
        position: relative;
        top: 40px;
        right: 100%;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        line-height: 24px;
        padding: 4px 8px;
        border-radius: 4px;
    }
}

ion-fab {
    ion-badge {
        position: relative;
        top: 10px;
        left: 140px;
    }
}
