<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/recomendar-restaurantes']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Restaurante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="https://www.civico.com/lugar/el-mirador-universidad-javeriana-bogota/"> </ion-img>
    <ion-card-content> 
      {{restauranteSelect.nombre}}
      {{restauranteSelect.descripcion}}
    </ion-card-content>
  </ion-card>
  
  <ion-row>
    <ion-col width-50 style="text-align: right">
      <ion-button>
        <ion-icon name="thumbs-up-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col width-50 style="text-align: left">
      <ion-button>
        <ion-icon name="thumbs-down-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
