<ion-header>
  <ion-toolbar>
    <ion-title>Tipos de aprendizaje</ion-title>
    <ion-icon size="large" name="close" (click) = closeModal()></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <h1>Convergente</h1>
      </ion-card-header>
      <ion-card-content>
        <h3>Poseen habilidades predominantes en las áreas de la abstracción, conceptualización y Experimentación Activa.</h3>
      </ion-card-content>
    </ion-card>





        <ion-card>
      <ion-card-header>
        <h1>Kinestesico</h1>
      </ion-card-header>
      <ion-card-content>
        <h3>Aprenden mejor haciendo actividades que les permiten experimentar o practicar el concepto que están intentando aprender.</h3>
      </ion-card-content>
    </ion-card>

        <ion-card>
      <ion-card-header>
        <h1>Visual</h1>
      </ion-card-header>
      <ion-card-content>
        <h3>Gustan de reunir y procesar información usando tablas, diagramas, gráficas, mapas y otras imágenes o formas basadas en gráfico para comunicarse.</h3>
      </ion-card-content>
    </ion-card>

        <ion-card>
      <ion-card-header>
        <h1>Aural</h1>
      </ion-card-header>
      <ion-card-content>
        <h3>se trata de personas que se ven beneficiadas por la asimilación de información a través del oído</h3>
      </ion-card-content>
    </ion-card>






        <ion-card>
      <ion-card-header>
        <h1>Divergente</h1>
      </ion-card-header>
      <ion-card-content>
        <h3>Las habilidades más frecuentes en personas divergentes hacen referencia a las áreas de la experiencia concreta y la observación reflexiva.</h3>
      </ion-card-content>
    </ion-card>





        <ion-card>
      <ion-card-header>
        <h1>Lectoescritura</h1>
      </ion-card-header>
      <ion-card-content>
        <h3>Aprenden mejor cuando reciben y devuelven la información en palabras. La comunicación puede ser por escrito o tecleada.</h3>
      </ion-card-content>
    </ion-card>






        <ion-card>
      <ion-card-header>
        <h1>Asimilador</h1>
      </ion-card-header>
      <ion-card-content>
        <h3>Son expertos en áreas de abstracción, conceptualización y observación reflexiva, la compresión y creación de modelos teóricos puede ser una de sus mayores fortalezas.</h3>
      </ion-card-content>
    </ion-card>

        <ion-card>
      <ion-card-header>
        <h1>Acomodador</h1>
      </ion-card-header>
      <ion-card-content>
        <h3>Las personas con este tipo de aprendizaje suelen tener su fortaleza en la experiencia concreta y experimentación activa.</h3>
      </ion-card-content>
    </ion-card>

</ion-content>
