<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/monitores/horarios-monitor', monitor.id]" text=" "></ion-back-button>
    </ion-buttons>
    <ion-title>monitor-asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="Asignaturas">
    <ion-card class="Asignatura" *ngFor="let horario of horarios">
      <ion-card-header>
        <h2>Inicio: {{convertir(horario.fechaInicial)}}</h2>
        <h2>Fin: {{convertir(horario.fechaFinal)}}</h2>
        <h1>{{horario.lugar}}</h1>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
