/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.background-image{
    --background: url(./assets/fondo.png) 0 0/100% 100% no-repeat;
}

.html{
    background-image:url(./assets/fondo.png) ;
}

.body{
    background-image:url(./assets/fondo.png) ;
}

.searchbar-input.sc-ion-searchbar-ios {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    text-decoration: inherit;
    text-indent: inherit;
    text-overflow: inherit;
    text-transform: inherit;
    text-align: inherit;
    white-space: inherit;
    color: inherit;
    border-radius: var(--border-radius);
    display: block;
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(255, 255, 255);
    font-family: inherit;
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.popover{
    top: 0%;
    left: 0%;

}

.estilosContestar{


    .modal-wrapper{
        
    }

    .popover-content{
        --background: rgb(97, 67, 67) !important; 
        max-height: 50%;
        width: 95%;
        background-color: red;
    }

    #enviar{
        color: red;
        background-color: red;
    }

    #areaEscribir{
        margin: 0;
        margin-right: 5%;
        margin-left: 5%;
        padding: 0;
        border-radius: 10%;

        ion-textarea{
            border-radius: 10%;
            background-color: blue;
            margin: 0;
            padding: 0;
        }
    }

}

.bot{
    display: flex;
}

.chatbot{
    display: none;
}

button#widgetIcon {
    background: #42A5F5;
    border: none;
    border-radius: 50%;
    bottom: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 4px 15px 0px;
    cursor: pointer;
    height: 56px;
    position: absolute;
    right: 0px;
    width: 56px;
}

df-messenger{
    bottom: 150px;
}

df-messenger{
    padding-bottom: 500px;
    --df-messenger-bot-message: #878fac;
    --df-messenger-button-titlebar-color: #df9b56;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: #479b3d;
}

.df-messenger-wrapper {
    background-color: white;
        border: 0;
        bottom: 60px;
        color: rgba(0,0,0,0.87);
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        padding: 0;
        position: fixed;
        right: 20px;
        text-decoration: none;
        z-index: 100;
  }