<ion-content fullscreen>
  <div class="home">
    <div class="content">

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-fab-button color="light" (click)="onBackAction($event)">
              <ion-icon name="caret-back-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>

          <ion-col>
          </ion-col>
          
          <ion-col>
          </ion-col>

          <ion-col>
            <ion-fab-button color="light">
              <ion-icon name="settings"></ion-icon>
            </ion-fab-button>
          </ion-col>
          
        </ion-row>
      </ion-grid>

      <!-- <div class="logo">
        <img class="home_logo" src="../assets/logo/logo_white_background.jpg">
      </div> -->
      <div class="box">
        <div style="display: flex; justify-content: center;">
          <ion-avatar>
            <img src="/assets/avatar/Avatar (4).jpeg">
          </ion-avatar>
        </div>

        <div class="center_text">
          <ion-label class="name">{{Nombre}}</ion-label>
        </div>
      </div>

      <div class="box">
        <div class="item">
          <div>
            <ion-label class="title">Correo registrado</ion-label>
          </div>
          <div class="text_box">
            <div>
              <ion-label>{{email}}</ion-label>
            </div>
          </div>
        </div>
        <div class="item">
          <div>
            <ion-label class="title">Semestre</ion-label>
          </div>
          <div class="text_box">
            <ion-label>{{semestre}}</ion-label>
          </div>
        </div>
        <div class="item">
          <div>
            <ion-label class="title">Carreras</ion-label>
          </div>
          <div class="text_box" *ngFor="let item of carreras">
            <ion-label >{{item}}</ion-label>
          </div>
        </div>

      </div>    
    </div>
  </div>
</ion-content>

<div class="menu">
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="dark" href="/perfil">
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
      <!-- <ion-label>Perfil</ion-label> -->
      <ion-fab-button color="dark" href="/auth-home">
        <ion-icon name="Home"></ion-icon>
      </ion-fab-button>
      <!-- <ion-label>Menú</ion-label> -->
    </ion-fab-list>
  </ion-fab>
</div>
