<ion-content fullscreen>
  <ion-toolbar slot="fixed" color="translucent" >  
    <ion-toggle slot="start" name="markers_onoff" [(ngModel)]="markers_onoff" checked (ionChange)="change_markers($event)"></ion-toggle>
  </ion-toolbar>
  <div id="mapId" style="width:100%; height:100%;"></div>
  <div class="button">
    <ion-fab horizontal="start" vertical="bottom" slot="fixed" (click)="toNextPage()">
      <ion-fab-button color="light">
        <ion-icon name="arrow-redo-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>




