.myButton {
    box-shadow: 3px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #2d8ba3;
    font-family: Courier New;
    font-size: 6vw;
    font-weight: bold;
    padding: 1em 0em;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
    width: 100%;
}

.myButton:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
}

.myButton:active {
    position: relative;
    top: 1px;
}